html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
 	margin-right: 2.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
	margin-left: 1.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtnInner {
	height:100px;
}

.myAppDemoWT .myCustomText {
	display: inline-block;
	font-weight: bold;
}


.myAppDemoWT .myLink{
	
	font-weight: bold;
   position: relative;
   top: 10px;

}


.myAppDemoWT .myShell{
color: #E8743B

}

.myColor{
	/*background-color: #9ACD32;*/
	background-color: #ADD8E6;
}

.myHeaderColor{
	background: #D3D3D3;
}

.myWidth{
	max-width: 200px;
}


.myCityWidth{
	
	position: relative;
	right: -500px;
}

.myCityWidth1{
	
	position: relative;
	right: -500px;
}

.myColumnFont{
	
	font-weight:bold;
}

.sapMListTbl  { 
	font-weight: bold;
}

.sapMListTbl  .sapMLabel { 
	font-weight: bold;
} 


.sapMSegB .sapMSegBBtn .sapMSegBBtnInner {
	border : 0;

}

.sapMSegB .sapMSegBBtn{
		padding-left:0;
	padding-right:0;
}



